
.box{
    height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33%;
}

.countries {
    color: white;
    font-size: 4vh;
    font-weight: bold ;
}

/* The container must be positioned relative: */
.custom-select, .submit-button{
    width: 200px;
    height: 30px;
    font-size: large;
}

